img{
  width : 15%;
  height:auto; 
}
.row{
   padding-top: 20px;
}

.bg-1 { 
    background-color: lightgrey; /* Green */
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.jumbotron{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #350524;

}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
   
}

.nav-tabs {
    margin-bottom: 0;
}
/* Button */
.btn {
  display: inline-block;
  padding: 6px 12px; 
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  background-color: none;
}

.btn-primary {
  color: #632420;
  background-color: #350524;
  border-color: none;
}

.btn-primary:hover{
    background: none;
}

.btn-primary:focus,   
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #350524;
  background-color:none;
  border-color: #3505244;
}

/* Hover */
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid black;
    color: black;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #350524;
    border-color: #350524;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: none;
    color: #350524;
    box-shadow: none;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
/* Adds borders for tabs */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}
li {
    float:left;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    color: #350524;
    text-decoration: none;
}
/** HEADERS AND OTHER FORMATING **/
h2{
    font-style: bold;
    color: #350524;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
h3{
    color:white;
    font-style: bold;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}
h4{
    font-style: bold;
    color:  #350524;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 40px;
}
p{
    font-family: 'Fira Sans', sans-serif;
    color: lightgrey;
    text-align: center;
}
p.sub{
    font-family: 'Fira Sans', sans-serif;
    color: black;
    text-align: left;
}
/**Link styling **/
a.head:link {
    color: #5D1314; 
    background-color: transparent; 
    text-decoration: none;
}

a.head:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.head:hover {
    color: #5D1214;
    background-color: transparent;
    text-decoration: bold;
}
a.head:active {
    color: #5D1314;
    background-color: transparent;
    font-style: italic;
}
/** body stuff**/
header { 
    background-color: black;
}

